header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(10vh + 3vw);    
    background-color: #210d44;
    color: white;
}

header a {
    color: #ffffff;
    font-size: calc(1.2rem + .8vw);
    text-decoration: none;
    margin-left: 2vw;
}

header a:active,
header a:hover,
header a:visited {
    color: #ffffff;
    text-decoration: none;
}
