@keyframes fadein {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}



.register-page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    animation: fadein 1s;
}

.register-form-wrapper {
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: #f89809;
    border-radius: 50px;
}

.register-form-wrapper h2, p {
    color: #210d44;
}


